package: vimrc
priority: normal
maintainer: Christian Höltje <docwhat@gerf.org>, Shawn Zabel
standards-version: 1
description: A vimrc with lots of bells and whistles
 .
 After installing, you'll need to do
 git clone http://github.com/gmarik/vundle.git ~/.vim/bundle/vundle
 .
 then, inside vim, do :BundleInstall

mkdirs:
 .vim/bundle
